################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Debug
/.vs/
/packages/JetBrains.Annotations.2018.3.0
/RemoteAccessTester/bin/Debug
/RemoteAccessTester/obj/Debug
/MockSetup/obj/Debug
/MockSetup/bin/Debug
/packages/WixSharp.1.4.5.0
/packages/WixSharp.bin.1.4.5.0
*.user
/MockSetup/bin/Release
/MockSetup/obj/Release
/MockSetup/wix/MockSetup.g.wxs
/MockSetup/MockPlugin-Setup.msi
/packages
/Plugin/obj/Debug/AcquisitionService/ConfigDialog.baml
/Plugin/obj/Debug/AcquisitionService/ConfigDialog.g.cs
/Plugin/obj/Debug/AcquisitionService/ConfigDialog.g.i.cs
/Plugin/obj/Debug
/Plugin/obj/Release
/RemoteAccessTester/obj/Release
/Setup/bin
/Setup/obj
/Setup/wix
/Setup/MockPlugin-Setup.msi
/Plugin/RemoteAccessTester/bin/Debug
/Plugin/RemoteAccessTester/obj/Debug
/Examples/CustomCsvImporter/obj/Debug
/Examples/CustomCsvImporterTests/bin/Debug
/Examples/CustomCsvImporterTests/obj/Debug
/TestResults
