################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MockPlugin/v14/.suo
/obj/Debug
/.vs
