################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Debug
/.vs/
/packages/JetBrains.Annotations.2018.3.0
/RemoteAccessTester/bin/Debug
/RemoteAccessTester/obj/Debug
/MockSetup/obj/Debug
/MockSetup/bin/Debug
/packages/WixSharp.1.4.5.0
/packages/WixSharp.bin.1.4.5.0
